# ===== QuestaSim / ModelSim build files =====
work/
transcript
vsim.wlf
*.mti
*.mpf
*.mpf_new
*.cr.mti
*.qdb
*.qpg
*.qtl
*_stacktrace.txt
*_stacktrace.vstf

# ===== Backup or temp files =====
*.bak
*.log
*.tmp

# ===== System & editor junk =====
.vs/
.vscode/
*.user
Thumbs.db
desktop.ini


task_1.mpf_new